.bracketsContainer{
    margin-top: 60px;
    margin-bottom: 200px;
    gap: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #821637dd;
    padding: 40px;
    padding-right: 0px;
    border-radius: 5px;
}

.seed{
    font-family: arabicNormal;
    padding-bottom: 10px;
    padding-top: 10px;
}

#date{
    margin-top: 10px;
    font-family: arabicNormal;
    font-size: 15px;
    color: #e1c396;
}

#swipe{
    display: none;
    font-family: qatarBold;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cup{
    width: 50px;
}

.champion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    margin-bottom: 80px;
    font-family: qatarBold;
    color: #e1c396;
    font-size: 20px;
}

.champion h3{
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 992px) {

    #swipe{
        margin-bottom: 10px;
        display: block;
        font-family: qatarBold;
        text-align: center;
    }

    .champion{
        display: none;
    }

    .main{
        display: block;
    }

    .bracketsContainer{
        padding: 20px;
    }
}