.bracketsContainer{
    margin-top: 100px;
    margin-bottom: 200px;
    gap: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #821637dd;
    padding: 40px;
    border-radius: 5px;
}

.seed{
    font-family: arabicNormal;
    padding-bottom: 10px;
    padding-top: 10px;
}

#date{
    margin-top: 10px;
    font-family: arabicNormal;
    font-size: 15px;
    color: #e1c396;
}
