.bracketsContainer{
    margin-top: 60px;
    margin-bottom: 200px;
    gap: 20px;
    width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #821637dd;
    padding: 40px;
    padding-right: 0px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.seed{
    font-family: arabicNormal;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.dCFOIz{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.dCFOIz:hover{
    background-color: #292c3a;
}

.oNEeH{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.oNEeH:hover{
    background-color: #292c3a;
}

#date{
    margin-top: 10px;
    font-family: arabicNormal;
    font-size: 15px;
    color: #e1c396;
}

#swipe{
    display: none;
    font-family: qatarBold;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cup{
    width: 50px;
}

.champion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    margin-bottom: 80px;
    font-family: qatarBold;
    color: #e1c396;
    font-size: 20px;
}

.champion h3{
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 992px) {

    #swipe{
        margin-bottom: 10px;
        display: block;
        font-family: qatarBold;
        text-align: center;
    }

    .champion{
        display: none;
    }

    .main{
        display: block;
    }

    .bracketsContainer{
        padding: 20px;
    }
}

.hYCtJu{
    color: #e1c396 !important;
    font-family: qatarBold;
    font-size: 18px;
}

.heqMNK{
    color: #e1c396 !important;
    font-family: qatarBold;
    font-size: 18px;
}