.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: qatarBold;
    background-color:#8d1c3d;
    color: white;
    padding: 18px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 25px;
    flex-wrap: wrap;
}

.copa{
    width: 100px;
}

@media (max-width: 992px) {
    .navContainer{
        flex-direction: column;
        
    }
}

