@font-face {
    font-family: arabicNormal;
    src: url('../font/ArabicNormal.otf');
}
@font-face {
    font-family: qatarBold;
    src: url('../font/QatarBold.ttf');
}

@font-face {
    font-family: qatarHeavy;
    src: url('../font/QatarHeavy.ttf');
}

*{
    margin: 0px;
}

.by{
    font-family: qatarBold;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.by a{
    color: black    ;
}



