.groupsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.subGroupsContainer{
    display: flex;
    gap: 10px;
}